@charset "UTF-8";

html {
    background-image: url("img/Background.jpg");
    height: 100vh;
    margin-bottom: 2%;
}
main {
    background-color: aliceblue;
    min-height: 100vh;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    
}
/*no rules for "hide" class*/
main table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}
th {
    border: 1px solid;
    padding: 10px;
}
/*no rules for "okta-login-container" class*/

/*font family*/
h1, h2, h3 {
    font-family: Snell Roundhand, cursive; 
}
h1 {
    color: rgb(221, 133, 17);
}
h2 {
    color: rgb(133, 81, 13);
}

/*image style*/
img {
    border-radius: 50%;
    border: 1px solid;
    margin-left: 10%;
    margin-top: 5%;
    float: left;
}
header {
    text-align: center;
    margin-top: 2%;
    padding-top: 2%;
}
footer {
    position: relative;
    bottom: 10%;
}
a:link, a:visited {
    color: darkblue;
    text-align: end;
    text-decoration: none;
}
a:hover, a:active {
    color: crimson;
}



